.footerh
{
    margin-top:20px;
    background-image: url('../Images/abstract.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-color: white;
    
}

.texto_derecha
{
    text-align: right;
}