.x-red {
  color: red;
}
a {
  text-decoration: none !important;
  color: black !important;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-3>div:hover{
     background-color: rgb(144, 217, 223);
}
.col-3>div{
     padding: 5px;
     font-size: small;
}



