@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); /* Importa un tipo de letra desde la web */

html
{
    font-size: 17px;
}

#tabla /* El símbolo '#' es para referirse a identificadores */
{
    color: blue;
}

.footerh
{
    background-image: url('../Images/abstract.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    
}

.texto_derecha
{
    text-align: right;
}

.centrar
{
    display: flex;
    justify-content: center;
    align-items: center;
}



#categorias > div{
    align-items: center;
}

.margen_seccion
{
    margin-bottom: 70px;
}


@media only screen and (min-width: 1600px) {
    .ancho
{
    width: 990px !important;
}

}

@media only screen and (min-width: 1201px) and (max-width:1599px) {
    .ancho
    {
        width: 700px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .ancho
    {
        width: 500px !important;
    }
}


